.currentUserInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: #f7fffa;
  padding: 20px;
  margin-top: 5rem;
  margin-left: 50rem;
  margin-right: 50rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.h2-current {
  color: goldenrod;
  display: flex;
  justify-content: center;
  font-size: x-large;
  margin-top: 3rem;
}
