.containerDataNoChange {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerProfile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formProfile {
  margin: 2rem;
}

@media (max-width: 900px) {
  .containerProfile {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .containerProfile {
    width: 90vw;
  }
}

@media (max-width: 400px) {
  .formProfile {
    margin: 0.5rem;
  }
}