.h1-faqs {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
  color: goldenrod;
  margin-top: 8rem;
}

.accordion {
  width: 100%;
  max-width: 1000px;
  margin: 15rem auto;
  margin-top: 10rem;
}

.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
}

.accordion-item-header::after {
  content: '\002B';
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.accordion-item-header.active::after {
  content: '\2212';
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  font-size: 1.2rem;
}

@media (max-width: 1200px) {
  .accordion {
    margin: 3rem auto;
  }

  .h1-faqs {
    margin-top: 5rem;
  }

  .accordion-item-header {
    font-size: 1.2rem;
  }
}

@media (max-width: 767px) {
  .h1-faqs {
    font-size: 2rem;
  }

  .accordion-item-header {
    font-size: 1.1rem;
  }
}