body {
  background-color: black;
}

.car-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  margin-bottom: 4rem;
}

.car-item {
  background-color: #292929;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.car-details {
  margin-top: 15px;
  color: #ffffff;
  font-size: 14px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: goldenrod;
  border-bottom: 1px solid #ccc;
  margin-bottom: 3rem;
  margin-top: 5rem;
  position: relative;
}

.filters select,
.filters input[type='text'],
.filters input[type='number'] {
  margin: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filters button {
  margin: 5px;
  padding: 8px 15px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reset-button {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #ccc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-deleteCar {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, 'proxima nova', sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.btn-deleteCar:hover,
.btn-deleteCar:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.btn-deleteCar:active {
  opacity: 0.5;
}
