/* Home.css */

.home-container {
  position: relative;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* Oculta el contenido que se desborda */
}

.gif-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Escala la imagen para cubrir el contenedor */
}
